body .body-wrapper {
  cursor: default;
}
body .body-wrapper .header-bar-wrap {
  display: block;
  width: 100%;
  background-color: #E9F0F7;
  height: 50px;
}
body .body-wrapper .header-bar-wrap .currency-wrap {
  width: 25%;
  text-align: center;
  float: left;
}
body .body-wrapper .header-bar-wrap .currency-wrap .currency {
  width: 3em;
  display: inline-block;
  border: 1px solid #2D4966;
  line-height: 27px;
  height: 27px;
  margin-top: 0.6em;
  margin-left: 1em;
  cursor: pointer;
}
body .body-wrapper .header-bar-wrap .currency-wrap .currency span {
  color: #191919;
  font-family: "Roboto Mono";
  font-size: 11px;
  font-weight: 500;
}
body .body-wrapper .header-bar-wrap .header-text {
  width: 50%;
  text-align: center;
  float: left;
  line-height: 14px;
}
body .body-wrapper .header-bar-wrap .header-text span {
  color: #191919;
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 50px;
}
body .body-wrapper .header-bar-wrap .country-select {
  float: right;
  width: 12%;
}
body .body-wrapper .header-bar-wrap .country-select p {
  float: left;
  margin: unset;
  color: #191919;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 50px;
}
body .body-wrapper .header-bar-wrap .country-select .down-icon {
  background-image: url(/assets/icons/down.svg);
  height: 50px;
  width: 1em;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1em;
  cursor: pointer;
}
body .body-wrapper .header-menu-wrap {
  display: block;
  width: 100%;
  height: 120px;
}
body .body-wrapper .header-menu-wrap .menu-image {
  background-image: url(/assets/images/Large.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 63px;
  float: left;
  width: 23%;
  margin-top: 1.6em;
}
body .body-wrapper .header-menu-wrap .menu-options-wrap {
  width: 56%;
  height: 120px;
  float: left;
  text-align: center;
  cursor: default;
}
body .body-wrapper .header-menu-wrap .menu-options-wrap .option {
  display: inline-block;
  margin: 0 1.5em;
  cursor: pointer;
  color: #2D4966;
  font-family: "Roboto Mono";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 120px;
  transition: opacity 250ms ease;
}
body .body-wrapper .header-menu-wrap .menu-options-wrap .option:hover {
  opacity: 0.6;
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap {
  width: 14%;
  height: 120px;
  float: left;
  direction: rtl;
  cursor: default;
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-top: 2.7em;
  margin-left: 0.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  transition: opacity 250ms ease;
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon:hover {
  opacity: 0.6;
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon-search {
  background-image: url(/assets/icons/search.svg);
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon-profile {
  background-image: url(/assets/icons/profile.svg);
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon-likes {
  background-image: url(/assets/icons/heart.svg);
}
body .body-wrapper .header-menu-wrap .menu-icons-wrap .icon-cart {
  background-image: url(/assets/icons/bag.svg);
}
body .body-wrapper .gallery-wrap {
  display: block;
  width: 100%;
  background-color: lightgrey;
  height: 672px;
}
body .body-wrapper .gallery-wrap .slick-prev {
  left: 5%;
  z-index: 2;
}
body .body-wrapper .gallery-wrap .slick-prev::before {
  content: '';
  background-image: url(/assets/icons/back.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
  display: block;
}
body .body-wrapper .gallery-wrap .slick-next {
  right: 5%;
  z-index: 2;
}
body .body-wrapper .gallery-wrap .slick-next::before {
  content: '';
  background-image: url(/assets/icons/forward.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
  display: block;
}
body .body-wrapper .gallery-wrap .slick-list {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}
body .body-wrapper .gallery-wrap .slick-list .slick-track {
  height: 100%;
}
body .body-wrapper .gallery-wrap .slick-dots {
  bottom: 2em;
  z-index: 2;
}
body .body-wrapper .gallery-wrap .slick-dots li {
  margin: unset;
}
body .body-wrapper .gallery-wrap .slick-dots button::before {
  color: #fafafa;
  font-size: 12px;
}
body .body-wrapper .gallery-wrap .slick-dots .slick-active button::before {
  font-size: 16px;
}
body .body-wrapper .gallery-wrap .gallery-image {
  display: inline-block;
  background-image: url(/assets/images/Slider/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .body-wrapper .popups {
  width: 90%;
  height: 288px;
  position: absolute;
  background-color: #fafafa;
  top: 10.5em;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease;
}
body .body-wrapper .popups.collections-popup {
  box-shadow: 0 2px 5px 0 #000000;
}
body .body-wrapper .popups.collections-popup .collection-list-wrap {
  width: 50%;
  display: inline-block;
  height: 100%;
}
body .body-wrapper .popups.collections-popup .collection-list-wrap ul {
  padding-top: 1em;
}
body .body-wrapper .popups.collections-popup .collection-list-wrap ul li {
  list-style: none;
  font-family: "Roboto Mono";
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  width: 40%;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transition: opacity 250ms ease;
}
body .body-wrapper .popups.collections-popup .collection-list-wrap ul li:hover {
  opacity: 0.6;
}
body .body-wrapper .popups.collections-popup.showing {
  opacity: 1;
  z-index: 1;
}
body .body-wrapper .popups.collections-popup .collection-image-wrap {
  width: 50%;
  float: right;
  height: 100%;
}
body .body-wrapper .popups.collections-popup .collection-image-wrap .collection-image {
  height: 80%;
  width: 44%;
  background-color: #EAEAEA;
  margin-top: 1.5em;
  background-image: url(/assets/images/Large.svg);
  background-size: 2em;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid #CDCDCD;
}
body .body-wrapper .popups.collections-popup .collection-image-wrap .collection-image:nth-of-type(2) {
  margin-left: 5%;
}
